<div class="background">
  <div class="title">MySuperHero</div>
  <div class="search">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-icon>search</mat-icon>
        <input matInput formControlName="value" (keyup)="search()">
      </mat-form-field>
    </form>
    <div *ngIf="character" class="list">
      <mat-list>
        <mat-list-item *ngFor="let item of character?.data?.results">
          <div mat-line class="line" (click)="detail(item)">
            <img [src]="item.thumbnail.path" class="thumbnail"/>
            <span>{{item.name}}</span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="copy">Data provided by Marvel. &copy; 2020 MARVEL</div>
</div>
