.background {
  width: 100%;
  height: 100%;
  background: url('/assets/images/background.svg') no-repeat center;
  background-size: 100% 100%;
  background-position: top center;
  background-color: #bf8d8d;
}

.title {
  font-family: 'Bungee';
  font-size: 4em;
  color: white;
  position: relative;
  width: 100%;
  text-align: center;
  top: 1.5em;
}

.copy {
  font-family: 'Roboto';
  color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 2em;
}

.search {
  width: 100%;
  text-align: center;
  margin: 20% auto;
}

.search input {
  padding: 0.5em 0.5em 0.5em 2em;
  border-radius: 0.5em;
  border: 0;
  background-color: gray;
  color: white;
}

mat-label {
  top: 26px;
  left: 10px;
  color: white;
}

::ng-deep .mat-form-field-underline {
  height: 0px !important;
}

mat-icon {
  color: white;
  position: absolute;
  top: 10px;
  left: 5px;
}

.thumbnail {
  min-height: 48px;
  max-height: 48px;
  padding-right: 0.5em;
}

.list {
  background-color: white;
  width: 70vw;
  margin: 0 auto;
  border-radius: 0.5em;
  padding: 1em;
}

.line:hover {
  cursor: pointer;
  background-color: #eee;
  border-radius: 0.25em;
}

.line span {
  position: absolute;
  top: 0.75em;
}
